.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.status-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.2s;
}

.status-card:hover {
  transform: translateY(-5px);
}

.status-card h2 {
  font-size: 2.5rem;
  margin: 0;
}

mat-card-header mat-icon {
  font-size: 25px;
  margin-right: 8px;
}
